<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RS_WIP_Management.My.MySettings.RS_WIP_ManagementConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\LF Database\RS WIP Management.accdb&quot;;Persist Security Info=True;Jet OLEDB:Database Password=lfrswip"
            providerName="System.Data.OleDb" />
        <add name="RS_WIP_Management.My.MySettings.SQL_Connection" connectionString="Data Source=BTMESSQLDEV03;Initial Catalog=LFPH_RS;Persist Security Info=True;User ID=mesph;Password=PHFuse;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	<appSettings>
		<add key="PP_STAT" value="False" />
		<add key="VIB_STAT" value="False" />
		<add key="LW_STAT" value="True" />
		<add key="ANN_STAT" value="False" />
		<add key="WASH_STAT" value="True" />
		<add key="SPUT_STAT" value="True" />
		<add key="SAM_STAT" value="True" />

		<add key="WIP_Start" value="01/19/2025" />
		<add key="WIP_End" value="01/19/2025" />
	</appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>